<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Iniciar sesión
          </div>
          <form class="card-body" th:action="@{/logincheck}" method="POST">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="mb-1">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="d-flex justify-content-center mb-1">
              <button type="button" class="btn btn-link">Olvide mi contraseña</button>
            </div>
              <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary mx-2">Iniciar sesión</button>
            </div>
          </form>
          <div class="card-footer text-center p-3">
            <a href="/registro" class="text-decoration-none fw-bold h5">Todavía no tengo una cuenta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script th:fragment="script">
  </script>
  