<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header h3" th:text="${marca.nombre}"></div>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <a href="/tipovehiculos" class="btn btn-secondary mx-2">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script"></script>