<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Editar vehiculo</h2>
            </div>
        <form class="card-body" th:action="@{'/vehiculos/editar/{id}' (id=${vehiculo.id})}" th:object="${vehiculo}"
            th:method="PUT" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:errorClass="'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div>
            <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input type="text" class="form-control" id="color" th:field="*{color}" th:errorClass="'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" th:errorClass="'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
            </div>
            <div class="mb-3">
                <label for="annio" class="form-label">Año</label>
                <input type="number" class="form-control" id="annio" th:field="*{annio}" th:errorClass="'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('annio')}" th:errors="*{annio}"></div>
            </div>
            <div class="mb-3">
                <label for="km" class="form-label">Kilometros</label>
                <input type="number" class="form-control" id="km" th:field="*{km}" th:errorClass="'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('km')}" th:errors="*{km}"></div>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" th:field="*{precio}" th:errorClass="'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
            </div>
            <div class="mb-3">
                <label for="marca" class="form-label">Marca</label>
                <select id="marca" th:field="*{marca}" class="select2 form-select" th:errorClass="'is-invalid'">
                    <option selected value=""></option>
                    <option th:each="a : ${marca}" th:value="${a.id}" th:text="${a.nombre}"></option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>
            </div>
            <div class="mb-3">
                <label for="tipoVehiculo" class="form-label">Tipo de vehiculo</label>
                <select id="tipoVehiculo" th:field="*{tipoVehiculo}" class="select2 form-select" th:errorClass="'is-invalid'">
                    <option selected value=""></option>
                    <option th:each="a : ${tipoVehiculo}" th:value="${a.id}" th:text="${a.nombre}"></option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('tipoVehiculo')}" th:errors="*{tipoVehiculo}"></div>
            </div>
            <div class="mb-3">
                <label for="archivo" class="form-label">Foto del Vehiculo</label>
                <input class="form-control" type="file" id="archivo" name="archivo" accept="image/*" required>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mx-2">Editar</button>
                <a onclick="goBack()" class="btn btn-secondary mx-2">Volver</a>
            </div>
            </form>
            </div>
            </div>
    </div>
</div>

<script th:fragment="script">
    function goBack() {
            window.history.back();
        }
</script>