<div th:fragment="contenido">

<section id="banner" class="d-flex align-items-center banner w-100" >
  <div class="container" style="width: 60%">
    <div class="row">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center text-uppercase" >Bienvenidos a nuestra concesionaria</h2>
        <h3 class="text-center">Tenemos una alta variedad de vehículos nuevos y usados para elegir. También brindamos un servicio de reparación y mantenimiento para sus vehículos.</h3>

      </div>
    </div>
  </div>
</section>
<section class="">
</section>

</div>
<script th:fragment="script"></script>