<section id="banner" class="d-flex align-items-center banner" th:fragment="contenido">
    <div class="container" style="width: 60%">
        <div class="row">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h2 class="text-center text-uppercase">Bienvenidos a nuestra concesionaria</h2>
                <h3 class="text-center">Tenemos una alta variedad de vehículos nuevos y usados para elegir. También
                    brindamos un servicio de reparación y mantenimiento para sus vehículos.</h3>

            </div>
        </div>
    </div>
</section>
<section id="vehiculos" class="vehiculo" th:fragment="contenido">
    <div class="container" style="width:80%">
        <div class="row">
            <div class="d-flex flex-column align-items-center justify-content-center section-title">
                <h2 class="text-center">Explora nuestros vehículos</h2>
                <p class="text-center ">Aquí encontrarás los vehículos que han atraído más miradas y suspiros en nuestra
                    concesionaria. Desde elegantes clásicos hasta las últimas novedades de alta tecnología, estos
                    vehículos
                    son los que generan más interés entre nuestros visitantes</p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row vehiculos-container gy-4 justify-content-evenly" th:each="v : ${vehiculos}">
            <div class="card col-xl-3 col-lg-4 col-md-6 mb-2" style="width:24rem;">
                <img th:src="|/images/vehiculos/${v.imagen}|" class="card-img-top" th:alt="${v.nombre}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${v.nombre}">Vehiculo </h5>
                    <p class="card-text" th:text="${v.descripcion}"></p>
                    <p class="card-text">$<span th:text="${v.precio}"></span></p>
                    <a th:href="@{'/vehiculos/ver/{id}' (id=${v.id})}">
                        <button class="cta">
                            <span class="hover-underline-animation"> Leer más </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                 id="arrow-horizontal">
                                <path transform="translate(30)"
                                      d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                      data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<script th:fragment="script"></script>